.side-bar
  .header
    %h3.header__name
      UserName：焦っている人
    %ul.header__lists
      %li.list
        = link_to '#' do
          = fa_icon 'edit', class: 'icon'
      %li.list
        = link_to '#' do
          = fa_icon 'cogs', class: 'icon'
  .groups
    .group
      .group__name
        急いでるけど遅れてる
      .group__message
        最新のメッセージ
    .group
      .group__name
        まずは落ち着こう
      .group__message
        最新のメッセージ
    .group
      .group__name
        予定通りに進まない
      .group__message
        最新のメッセージ